<%= form_for(friend) do |f| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<br /><br />
  <div class="field form-group">
    <%= f.label :name, class: "sign_font" %>
    <%= f.text_field :name, placeholder: "name", class: "form-control input-lg" %>
  </div><br /><br />

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-lg btn-default" %>
  </div>
<% end %>
