<%= form_for(friend) do |f| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<br /><br />
  <div class="field form-group" >
    <%= label_tag "email", nil, class: "sign_font" %>
    <%= text_field_tag :email, nil, placeholder: "Email", class: "form-control input-lg" %>
  </div>
	<br /><br />
  <div class="actions">
    <%= f.submit "Create", class: "btn btn-default btn-lg"%>
  </div>
<% end %>
