<% content_for :header do %>
	<h1 style = "float:left"> Friends </h1>
	<div style = "float:right" %>
		<%= link_to(image_tag("/assets/add_icon.png", width: 70, height: 70), controller: :friends, action: :new) %>
	</div>
<% end %>
<% content_for :index do %>
<p id="notice"><%= notice %></p>


<table class = "friend_table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><h3><%= friend.name %></h3></td>
        <td><h3><%= friend.email %></h3></td>
				<td width = "30"><%= link_to image_tag("/assets/modify_icon.png", widht:30, height: 30), edit_friend_path(friend) %>
        <td width = "30"><%= link_to image_tag("/assets/substract_icon.png", width: 30, height: 30), friend, class: "link friend_substract", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

