<% content_for :idea_header do %>
  <br /><br />
<% end %>
<% content_for :idea_contents do %>
  <%= form_for(@idea, url: url_for(action: :update, id: @idea.id)) do |f| %>
    <div class = "second_form">
      <div class = "name_field">
        <%= f.label (:name) %>
        <%= f.text_field :name, placeholder: "Idea name", class: "form-control input-lg" %>
      </div>
      <div class = "subtitle_field"> 
        <%= f.label(:subtitle) %>
        <%= f.text_field(:subtitle, class: "form-control input-lg") %>
      </div>
      <div class = "deadline_field">
        <%= f.label(:deadline) %><br />
        <%= f.date_field(:deadline, class: "date_field") %>
      </div>
      <div class = "deadline_time_field">
        <%= f.label(:deadline_time) %>
        <%= f.time_field(:deadline_time, class: "dete_field") %>
      </div>
      <%= f.label(:discription) %><br />
      <%= f.text_area(:discription, id: "tinyMCE", class: "new_text_area") %>
      <div class = "idea_form_submit">
        <%= f.submit("edit", class: "btn btn-lg btn-success btn-block") %>
      </div>
    </div>
   <% end %>
<% end %>
<% content_for :participants do %>
	<div class = "add_participant">
		<h1>Add participant</h1>
		<%= form_tag({action: :add_participant_in_edit, id: @idea.id}, remote: true) do %>
			<%= text_field_tag(:participant_email, nil, placeholder: "email", class: "form-control input-lg") %>
			<%= image_submit_tag("/assets/add_icon.png", width: 50, height: 50) %>
		<% end %>
	</div><hr />
	<% @idea.participants.each do |participant| %>
		<h2 style = "padding-left:20px;">
			<%= find_name(participant.user_id) %>
		</h2>
	<% end %><hr />
	<div id = "participants">
	</div>
<% end %>

