<% content_for :header do %>
	<h1 style = "float:left"> Ideas </h1>
	<div style = "float:right" %>
		<%= link_to(image_tag("/assets/add_icon.png", width: 70, height: 70), controller: :ideas, action: :new) %>
	</div>
<% end %>
<% content_for :index do %>
<p id="notice"><%= notice %></p>

<table class = "friend_table">
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
				<tr>
					<td><h3><%= idea.name %></h3></td>
        	<td rowspan = "2" width = "50"><%= link_to image_tag("/assets/modify_icon.png", widht:50, height: 50), edit_idea_path(idea) %></td>
       		<td rowspan = "2" width = "50"><%= link_to image_tag("/assets/substract_icon.png", width: 50, height: 50), idea, class: "link friend_substract", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      	</tr>
				<tr>
					<td><h3><%= idea.name %></h3></td>
				</tr>
			</tr>
    <% end %>
  </tbody>
</table>

<% end %>
