<!DOCTYPE html>
<html>
  <head>
    <title>CatchIdea</title>
		<%= javascript_include_tag :defaults %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
		<!-- 합쳐지고 최소화된 최신 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<!-- 부가적인 테마 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script
		  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
			  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
				  crossorigin="anonymous"></script>
		<meta name = "viewpor" content = "width = devie-width, initail-scale = 1">
		<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
		<script>
			$(document).on("turbolinks:load", function() {
				tinymce.init({
					selector: '#tinyMCE',
					width: "100%",
					theme: 'modern',
					plugins: [
						'advlist autolink lists link image charmap print preview hr anchor pagebreak',
						'searchreplace wordcount visualblocks visualchars code fullscreen',
						'insertdatetime media nonbreaking save table contextmenu directionality',
						'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
					],
					toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
					toolbar2: 'print preview media | fontselect fontsizeselect forecolor backcolor emoticons | codesample ',
					image_advtab: true,
					templates: [
						{ title: 'Test template 1', content: 'Test 1' },
						{ title: 'Test template 2', content: 'Test 2' }
					],
					content_css: [
						'//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
						'//www.tinymce.com/css/codepen.min.css',
					]
				});
			});
		</script>

	</head>
	<body>
		<div class = "header">
			<%= link_to("Catch Idea", {controller: :layout_test, action: :test_page}, class: "home_link link") %>
			<div class = "btn-group menu dropdown" id = "header_button1">
				<input type = "image" src = "/assets/menu_icon.png" width = "28" class = "dropdown-toggle"
				data-toggle = "dropdown" aria-expanded = "true">	<span class="caret"></span>
				</input>
				<ul class = "dropdown-menu" role = "menu" style = "font-size:20px;">
					<li><%= link_to("Settings", controller: :users, action: :edit, id: session[:id])%></li>
				 	<li><%= link_to("Sign Out", controller: :users, action: :sign_out, id: session[:id]) %></li>
				</ul>
			</div>
			<%= link_to("Profile", {controller: :layout_test, action: :test_page}, class: "header_button link", id: :header_button2) %>
			<%= link_to("Idea", {controller: :ideas, action: :index, id: session[:id]}, class: "header_button link", id: :header_button3) %>
			<%= link_to("Friend", {controller: :friends, action: :index, id: session[:id]}, class: "header_button link", id: :header_button4) %>
		</div>
		<div class = "contents">
    	<%= yield :contents %>
		</div>
  </body>
</html>
