<!DOCTYPE html>
<html>
  <head>
    <title>CatchIdea</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<style>
			@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
  		body{
				background-image: url('/back_ground.png');
				background-attachment:fixed;
				background-position: right top;
				background-repeat: repeat-y;
				padding:0;
				margin:0;				
			}
			.header {
				background-color:#333;
				color:white;
				height:150px;
				padding:10px;
			}
			.home_link {
				font-size:50px;
				line-height:150px;
				padding-left:50px;
				text-decoration:none;
				color:white;
				font-family:'Architects Daughter';
			}
		</style>
	</head>
	<body>
		<div class = "header">
			<%= link_to("Catch Mind", {controller: :main, action: :home}, class: :home_link) %>
		</div>
		<div class = "contents">
    	<%= yield %>
		</div>
  </body>
</html>
