<%= form_for(@user, url: url_for(controller: :users, action: :sign_in_end)) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<br /> <br />
  <div class="field" "form-group">
    <%= label_tag "Email address", nil, class: "sign_font" %> <br />
    <%= f.text_field :email, placeholder: "Email", class: "form-control input-lg" %>
  </div> <br /> </br>
 	<div class="field" "form-group">  
		<%= label_tag "Password", nil, class: "sign_font" %> <br />
	  <%= f.password_field :password, placeholder: "Password", class: "form-control input-lg" %>
 	</div> <br /><br /><br />
 	<div class="actaions">
 	  <%= f.submit "Sign In", class: "btn btn-default btn-lg btn-block" %>
	</div> <br /><br /><br />
<% end %>
<%= button_to "Sign Up",url_for(controller: :users, action: :new), class: "btn btn-success btn-lg btn-block" %>
