<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<br /> <br />
  <div class="field" "form-group">
    <%= label_tag "Email address", nil, class: "sign_font" %> <br />
    <p class = "form-control-static" style = "font-size: 20px"> <%= session[:email] %></p>
  </div> <br /> </br>
 	<div class="field" "form-group">  
		<%= label_tag "Old password", nil, class: "sign_font" %> <br />
	  <%= f.password_field :password, class: "form-control input-lg" %>
 	</div> <br /><br />
 	<div class="field" "form-group">  
		<%= label_tag "New password", nil, class: "sign_font" %> <br />
	  <%= password_field_tag :new_password, nil, class: "form-control input-lg" %>
 	</div> <br /><br />
 	<div class="field" "form-group">  
		<%= label_tag "Confirm new password", nil, class: "sign_font" %> <br />
	  <%= password_field_tag :confirm, nil, class: "form-control input-lg" %>
 	</div> <br /><br />

 	<div class="actaions">
 	  <%= f.submit "Modify", class: "btn btn-success btn-lg btn-block" %>
	</div><br /> <br/>
	<%= button_to "Delete account", user, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-lg btn-block" %>
<% end %>
